@font-face {
  font-family: "arialr";
  src: url("ARLRDBD.ttf") format("truetype");
}

html {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, "Helvetica Neue", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;

  font-size: 1.2rem;
}

.marquee {
  overflow: hidden;
  background-color: black;
  display: flex;
  margin: 0px;
  padding: 0px;

  position: sticky;
  top: 0px;

  z-index: 999;
}

.marquee div {
  font-size: 1.2em;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.disc {
  font-family: "arialr";
  width: 300px;
  height: 300px;
  font-size: 28px;
  background-color: red;
  color: yellow;
  line-height: 300px;
  border-radius: 300px;
  text-align: center;
  margin: auto;
  margin-top: 80px;

  -webkit-animation: rotating 9s linear infinite;
  -moz-animation: rotating 9s linear infinite;
  -ms-animation: rotating 9s linear infinite;
  -o-animation: rotating 9s linear infinite;
  animation: rotating 9s linear infinite;
}

#episodes {
  display: flex;
  overflow-x: scroll;
  width: calc(100vw - 20px);
  max-width: 800px;
  margin: auto;

  margin-top: 40px;
  margin-bottom: 8px;
}

#episodes iframe {
  border: none;
  outline: none;
  padding: 4px;
}

.footer {
  position: sticky;
  display: flex;
  justify-content: space-between;
  bottom: 0px;
  left: 0px;
  background-color: red;
  color: white;

  width: 100%;
}

.footer div {
  margin: 18px;
}

.footer a {
  color: yellow;
  text-decoration: none;
}
